*{
    margin: 0;
}

body{
   background-color: rgb(68, 127, 238);
}

form{
  text-align: center;
  margin-top: 40px;
}

input{
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 25, 247, 0.959);
}

h2{
    margin-top: 40px;
    margin-bottom: 40px;
}

.checkbox{
    margin-top: 25px;
}

.button{
    margin-top: 30px;
}

.formula{
    margin-top: 80px;
    background-color: black;
    margin-left: 35%;
    margin-right: 35%;
}

.rodape a{
    margin-top: 70px;
    margin-left: 85%;
}
