*{
    margin: 0;
}

body{
   background-color: rgb(68, 127, 238);
}

form{
  text-align: center;
  margin-top: 20px;
}

h2{
    margin-top: 40px;
    margin-bottom: 40px;
}

hr{
    box-shadow: 5px 5px 5px rgba(0, 25, 247, 0.959);
    margin-left: 35%;
    margin-right: 35%;
}

.checkbox{
    box-shadow: 5px 5px 5px rgba(0, 25, 247, 0.959);
    margin-left: 35%;
    margin-right: 35%;
}

.button{
    margin-top: 30px;
}

.formula{
    margin-top: 50px;
    background-color: black;
    margin-left: 35%;
    margin-right: 35%;
}
