
@charset "UTF-8";
@import "tailwindcss";

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --cor-footer: black;
    --color-azul3: rgb(12, 24, 192);
    --cor-fundo: hsla(223, 64%, 35%, 0.483);
    --cor-hover: hsl(0, 0%, 100%);
    --cor-link: hsl(0, 0%, 100%);
}

#cabecalho {
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    padding: 15px;
    background-color: var(--color-azul3);
    color: var(--cor-link);
    box-shadow: 05px 05px 05px 05px rgb(66, 74, 191);
}
/* Formatação do ícone do header */
#cabecalho > img {
    width: 60px;
    height: 60px;
}

#cabecalho > h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* FUNDO */
main{
    height:100vh;
    background:linear-gradient(135deg,#4e73df,#1cc88a);
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARD */
.container{
    background:#fff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,0.2);
    width:380px;
    text-align:center;
    animation:fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn{
    from{opacity:0; transform:translateY(-20px);}
    to{opacity:1; transform:translateY(0);}
}

h2{
    margin-bottom:20px;
    color:#4e73df;
}

/* INPUTS */
.input-group{
    margin-bottom:15px;
    text-align:left;
}

.input-group label{
    font-weight:600;
    font-size:14px;
}

.input-group input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:8px;
    border:2px solid #ddd;
    transition:0.3s;
}

.input-group input:focus{
    border-color:#4e73df;
    outline:none;
    box-shadow:0 0 8px rgba(78,115,223,0.4);
}

/* BOTÃO */
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#4e73df;
    color:#fff;
    font-weight:bold;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#2e59d9;
    transform:scale(1.05);
}

/* RESULTADO */
.resultado{
    margin-top:20px;
    padding:15px;
    border-radius:10px;
    font-weight:bold;
    display:none;
}

.normal{ background:#d4edda; color:#155724;}
.baixo{ background:#fff3cd; color:#856404;}
.sobrepeso{ background:#ffeeba; color:#856404;}
.obesidade{ background:#f8d7da; color:#721c24;}

/* RESPONSIVO */
@media(max-width:420px){
    .container{
        width:90%;
    }
}