
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --cor-footer: black;
    --cor-link: hsl(0, 0%, 100%);
}

#cabecalho {
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    align-items: center;
    padding: 15px;
    background-color: #1f2933;
    color: var(--cor-link);
    box-shadow: 05px 05px 05px 05px rgb(66, 74, 191);
}

/* Formatação do ícone do header */
#cabecalho>img {
    width: 80px;
    height: 90px;
}

#cabecalho>h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg, #4e73df, #1cc88a);
}

/* FUNDO */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 30px 15px;
    /* background: linear-gradient(135deg, #4e73df, #1cc88a); */
}

/* CARD */
.container {
    width: 100%;
    max-width: 520px;
    padding: 30px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
    animation: fadeIn 0.7s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4e73df;
}

/* INPUTS */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-weight: 600;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 2px solid #ddd;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #4e73df;
    outline: none;
    box-shadow: 0 0 8px rgba(78, 115, 223, 0.4);
}
 
/* BOTÃO */
button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background: #4e73df;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #2e59d9;
    transform: scale(1.05);
}

/* RESULTADO */
.resultado {
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    display: none;
}

canvas {
    margin-top: 20px;
}

.historico {
    margin-top: 10px;
    max-height: 120px;
    overflow-y: auto;
    font-size: 14px;
}

.historico p {
    background: #f8f9fc;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-left:5px solid #4e73df;
}
/* scrollbar bonita */
.historico::-webkit-scrollbar{
width:8px;
}
.historico::-webkit-scrollbar-thumb{
background:#4e73df;
border-radius:10px;
}

.normal {
    background: #d4edda;
    color: #155724;
}

.baixo {
    background: #fff3cd;
    color: #856404;
}

.sobrepeso {
    background: #ffeeba;
    color: #856404;
}

.obesidade {
    background: #f8d7da;
    color: #721c24;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background-color: #1f2933;
	color: #e5e7eb;
    border-top: 4px solid rgb(255, 255, 255);
}

.rodape a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    animation: fadeIn 0.7s ease;
}
.rodape a:hover{
    margin: 1%;
    color: #4e73df;
}
.rodape p {
    margin-top: 8px;
    font-size: 0.9rem;
    opacity: 0.7;
}

/* RESPONSIVO */
@media(max-width:600px) {

     .container {
        padding: 20px;
    }

    #cabecalho {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: sans-serif;
        padding: 15px;
        background-color: #1f2933;
        color: var(--cor-link);
        box-shadow: 05px 05px 05px 05px rgb(66, 74, 191);
    }

    /* Formatação do ícone do header */
    #cabecalho>img {
        width: 30px;
        height: 30px;
    }

    #cabecalho>h1 {
        font-size: 15px;
        margin-top: 10px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    footer{
        margin-top: 20%;
    }

}